<script src="{{ url_for("static", filename="js/lib/jquery/jquery.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/lib/lodash.min.js") }}"></script>
<script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>

<h1>Magnetic Field Scanner</h1>

<div>
    Visa connection status: <span style="color: red" data-bind="visible: !connected()">OFFLINE</span><span style="color: green" data-bind="visible: connected()">ONLINE</span>

    <button style="width: 30%;float: right;" class="btn btn-primary" data-bind="click: function() { $root.sendCommand('connect') }">Connect</button>
</div>
<div style="margin-top: 20px;display: flex;justify-content: right;gap: 3px;align-items: center;">
    <div style="margin-right: auto" >Measured points: <span data-bind="text: points()"></span></div> 
    <button class="btn control-box" data-bind="click: function() { $root.updateChart() }">Update chart</button>
    <button class="btn control-box" data-bind="click: function() { $root.exportData() }">Export data</button>
    <button class="btn control-box" data-bind="click: function() { $root.deleteData() }">Delete data</button>
</div>

<div id="myDiv"></div>